* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.main__1__container {
    width: 100vw;
    height: 100vh;
    background-color: #f7e7cd;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button__container {
    width: 700px;
    height: 400px;
    background-image: linear-gradient(to right, #f79f57, #fab37f);
    border-radius: 200px;
}

.btn__1, .btn__2 {
    margin: 0 15px;
    padding: 150px;
    width: 0;
    height: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75rem;
}

.btn__1,
.btn__2, 
.button__container,
.main__1__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__1,
.btn__2, 
.button__container {
    box-shadow: 0 10px 10px #b34d3e, 0 15px 15px #ed8254, 0 5px 5px #604149;
}

.btn__1:active, .btn__2:active {
    box-shadow: inset 0 10px 10px #b34d3e, 0 15px 15px #ed8254, 0 5px 5px #604149;
    transform: translateY(5px);
}

.btn__1 {
    background-color: #fab37f;
}

.btn__2 {
    background-color: #f79f57;
}

.math__container {
    width: 700px;
    height: 400px;
    background-image: linear-gradient(#3f575b, #243f4a, #092330);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.math__container input {

}